@import url("https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html,
body {
  color-scheme: light dark;
  font-family: var(--font-text);
  font-size: 14px;
  background-color: var(--surface);
}

:root {
  line-height: 1;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --font-text: "Poppins", sans-serif;
  --font-title: "Pathway Gothic One", sans-serif;

  --primary: #a65698;
  --on-primary: #fdfdfd;
  --primary-container: #e6c3e0;
  --on-primary-container: #331b2f;
  --secondary: #0b3948;
  --on-secondary: #fdfdfd;
  --secondary-container: #a8d6e6;
  --on-secondary-container: #082833;
  --tertiary: #629460;
  --on-tertiary: #fdfdfd;
  --tertiary-container: #cde6cc;
  --on-tertiary-container: #223321;
  --error: #b3261e;
  --on-error: #ffffff;
  --error-container: #e6aca9;
  --on-error-container: #330b09;
  --sucess: #4ac087;
  --on-sucess: #ffffff;
  --sucess-container: #a9e6c0;
  --on-sucess-container: #008955;
  --background: #fcfcfb;
  --on-background: #333231;
  --surface: #fcfcfb;
  --on-surface: #333231;
  --surface-variant: #e6e3d9;
  --on-surface-variant: #666254;
  --outline: #807667; /* Se usa para los contornos de elementos como tarjetas, botones y divisores. */
  --outline-variant: #d1c5b4; /* Se usa para bordes menos prominentes o sutiles. */
  --shadow: rgb(
    0 0 0
  ); /* Se usa en elevaciones para dar profundidad a los elementos. */
  --scrim: rgb(
    0 0 0
  ); /* Se usa para superposiciones oscuras en diálogos, menús y efectos de desenfoque. */
  --inverse-surface: rgb(
    52 48 39
  ); /* Se usa para elementos oscuros en temas claros. */
  --inverse-on-surface: rgb(
    249 240 226
  ); /* Garantiza contraste suficiente en fondos inversos. */
  --inverse-primary: rgb(
    237 192 108
  ); /* Se usa para destacar el color primario en temas oscuros. */

  /* Variantes de superficie para diferentes niveles de elevación: Se usan para jerarquizar la UI. */
  --surface: rgb(
    250,
    250,
    249
  ); /* Color de superficie base: Fondo principal de la interfaz. Se usa en tarjetas, diálogos y componentes generales. */
  --surface-variant: #78716c; /* Variante de superficie: Se usa para diferenciar secciones dentro de una misma pantalla sin un contraste fuerte. */
  --fixed-surface: rgb(22 19 11);
  /* Superficie inversa: Se usa en temas oscuros o cuando se quiere contrastar con elementos más claros. */
  --surface-container-lowest: rgb(
    255 255 255
  ); /* Superficie de contenedor más baja: Representa el fondo más plano sin elevación. Se usa en el fondo general de la aplicación. */
  --surface-container-low: rgb(
    245,
    245,
    244
  ); /* Superficie de contenedor baja: Se usa en elementos ligeramente elevados sobre el fondo, como tarjetas sin sombra. */
  --surface-container-low: rgb(
    245,
    245,
    244
  ); /* Superficie de contenedor baja: Se usa en elementos ligeramente elevados sobre el fondo, como tarjetas sin sombra. */
  --surface-container: #e7e5e4; /* Superficie de contenedor estándar: Se usa en tarjetas con sombra ligera y elementos de interfaz con algo de elevación. */
  --surface-container-high: #d6d3d1; /* Superficie de contenedor alta: Para elementos más elevados en la jerarquía visual, como menús desplegables y cuadros de diálogo. */
  --surface-container-highest: #a8a29e; /* Superficie de contenedor más alta: Se usa en los elementos flotantes de mayor importancia, como tooltips y pop-ups. */

  --radius: 0.625rem;

  --chart-1: #5b74ad;
  --chart-2: #836fad;
  --chart-3: #a869a2;
  --chart-4: #c3658f;
  --chart-5: #7c8ebd; /* +20% luminosidad respecto a chart-1 */
  --chart-6: #9b8cc3; /* +20% luminosidad respecto a chart-2 */
  --chart-7: #bba2d0; /* +20% luminosidad respecto a chart-3 */
  --chart-8: #d4bedf; /* +20% luminosidad respecto a chart-4 */
  --chart-9: #e6d4eb; /* +80% luminosidad aproximada */
  --chart-10: #f3ebf5; /* muy claro, +90% luminosidad */
}

[data-theme="dark"],
.dark {
  --primary: #e6b4dd;
  --on-primary: #4c2846;
  --primary-container: #66355e;
  --on-primary-container: #e6c3e0;
  --secondary: #8ed0e6;
  --on-secondary: #0b3c4c;
  --secondary-container: #0f5166;
  --on-secondary-container: #a8d6e6;
  --tertiary: #c3e6c2;
  --on-tertiary: #324c32;
  --tertiary-container: #436642;
  --on-tertiary-container: #cde6cc;
  --success: #8fe6b0;
  --on-success: #0c4c25;
  --success-container: #106631;
  --on-success-container: #a9e6c0;
  --error: #e69490;
  --on-error: #4c100d;
  --error-container: #661511;
  --on-error-container: #e6aca9;
  --background: #333231;
  --on-background: #e6e5e2;
  --surface: rgb(32, 29, 22);
  --on-surface: #e6e5e2;
  --surface-variant: #666154;
  --on-surface-variant: #e6e1d4;
  --outline: #b3ad9f;
  --outline-variant: rgb(
    78 70 57
  ); /* Se usa para bordes menos prominentes o sutiles. */

  --shadow: rgb(
    0 0 0
  ); /* Se usa en elevaciones para dar profundidad a los elementos. */
  --scrim: rgb(
    0 0 0
  ); /* Se usa para superposiciones oscuras en diálogos, menús y efectos de desenfoque. */

  --inverse-surface: rgb(
    234 225 212
  ); /* Superficie inversa: Se usa para elementos oscuros en temas claros. */
  --inverse-on-surface: rgb(
    52 48 39
  ); /* Garantiza contraste suficiente en fondos inversos. */
  --inverse-primary: rgb(
    122 89 12
  ); /* Se usa para destacar el color primario en temas oscuros. */

  /* Variantes fijadas de los colores primarios, secundarios y terciarios: Se usan en componentes de alto énfasis como botones de acción. */
  --primary-fixed: rgb(255 222 167);
  --on-primary-fixed: rgb(39 25 0);
  --primary-fixed-dim: rgb(237 192 108);
  --on-primary-fixed-variant: rgb(94 66 0);
  --secondary-fixed: rgb(159 242 226);
  --on-secondary-fixed: rgb(0 32 27);
  --secondary-fixed-dim: rgb(131 213 198);
  --on-secondary-fixed-variant: rgb(0 80 71);
  --tertiary-fixed: rgb(255 218 214);
  --on-tertiary-fixed: rgb(59 9 8);
  --tertiary-fixed-dim: rgb(255 179 172);
  --on-tertiary-fixed-variant: rgb(115 51 47);
  --fixed-surface: rgb(22 19 11);
  /* Variantes de superficie para diferentes niveles de elevación: Se usan para jerarquizar la UI. */
  --surface-dim: rgb(
    22 19 11
  ); /* Superficie tenue: Alternativa más oscura del color surface, utilizada en interfaces de bajo contraste o modo oscuro. */
  --surface-bright: rgb(
    61 57 47
  ); /* Superficie brillante: Variante más clara de surface, usada en encabezados o áreas que requieren más luminosidad. */
  --surface-container-lowest: #110e07; /* Superficie de contenedor más baja: Representa el fondo más plano sin elevación. Se usa en el fondo general de la aplicación. */
  --surface-container-low: rgb(
    31 27 19
  ); /* Superficie de contenedor baja: Se usa en elementos ligeramente elevados sobre el fondo, como tarjetas sin sombra. */
  --surface-container: #231f17; /* Superficie de contenedor estándar: Se usa en tarjetas con sombra ligera y elementos de interfaz con algo de elevación. */
  --surface-container-high: rgb(
    46 42 33
  ); /* Superficie de contenedor alta: Para elementos más elevados en la jerarquía visual, como menús desplegables y cuadros de diálogo. */
  --surface-container-highest: rgb(
    57 52 43
  ); /* Superficie de contenedor más alta: Se usa en los elementos flotantes de mayor importancia, como tooltips y pop-ups. */

  --chart-1: #5b74ad;
  --chart-2: #836fad;
  --chart-3: #a869a2;
  --chart-4: #c3658f;
  --chart-5: #7c8ebd; /* +20% luminosidad respecto a chart-1 */
  --chart-6: #9b8cc3; /* +20% luminosidad respecto a chart-2 */
  --chart-7: #bba2d0; /* +20% luminosidad respecto a chart-3 */
  --chart-8: #d4bedf; /* +20% luminosidad respecto a chart-4 */
  --chart-9: #e6d4eb; /* +80% luminosidad aproximada */
  --chart-10: #f3ebf5; /* muy claro, +90% luminosidad */
}

@theme inline {
  --color-primary: var(--primary);
  --color-on-primary: var(--on-primary);
  --color-primary-container: var(--primary-container);
  --color-on-primary-container: var(--on-primary-container);
  --color-secondary: var(--secondary);
  --color-on-secondary: var(--on-secondary);
  --color-secondary-container: var(--secondary-container);
  --color-on-secondary-container: var(--on-secondary-container);
  --color-tertiary: var(--tertiary);
  --color-on-tertiary: var(--on-tertiary);
  --color-tertiary-container: var(--tertiary-container);
  --color-on-tertiary-container: var(--on-tertiary-container);

  --color-success: var(--success);
  --color-on-success: var(--on-success);
  --color-success-container: var(--success-container);
  --color-on-success-container: var(--on-success-container);

  --color-error: var(--error);
  --color-on-error: var(--on-error);
  --color-error-container: var(--error-container);
  --color-on-error-container: var(--on-error-container);

  --color-background: var(--background);
  --color-on-background: var(--on-background);
  --color-fixed-surface: var(--fixed-surface);
  --color-surface: var(--surface);
  --color-on-surface: var(--on-surface);
  --color-surface-variant: var(--surface-variant);
  --color-on-surface-variant: var(--on-surface-variant);

  --color-outline: var(--outline);
  --color-outline-variant: var(--outline-variant);

  --color-shadow: var(--shadow);
  --color-scrim: var(--scrim);

  --color-inverse-surface: var(--inverse-surface);
  --color-inverse-on-surface: var(--inverse-on-surface);
  --color-inverse-primary: var(--inverse-primary);

  /* Variantes de superficie para diferentes niveles de elevación: Se usan para jerarquizar la UI. */
  --color-surface-dim: var(--surface-dim);
  --color-surface-bright: var(--surface-bright);
  --color-surface-container-lowest: var(--surface-container-lowest);
  --color-surface-container-low: var(--surface-container-low);
  --color-surface-container: var(--surface-container);
  --color-surface-container-high: var(--surface-container-high);
  --color-surface-container-highest: var(--surface-container-highest);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --font-text: var(--font-text);
  --font-title: var(--font-title);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-chart-6: var(--chart-6);
  --color-chart-7: var(--chart-7);
  --color-chart-7: var(--chart-7);
}
